input {
  padding: 0.5em;
  border-radius: 0.25em;
}

button {
  padding: 0.5em;
  padding: 0.5em 2em;
}

.clickableListItem {
  cursor: pointer;
  transition: all ease-in-out 100ms;
}

.clickableListItem:hover {
  transform: scale(1.05);
}
